{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block homeactive %} active {% endblock homeactive %}

{% block body %}


<div class="container my-3">
<div class="jumbotron">
  <h1 class="display-4">Quizzly</h1>
  <p class="lead">This is a simple website in which you can give quiz on various topics and also create your own questions.</p>
  <hr class="my-4">
  <p>Hope you really like this website.</p>
  <a class="btn btn-primary btn-lg" href="/quiz" role="button">Go to Quiz</a>
</div>
</div>
{% endblock body %}